a:link    {color: #0066cc; text-decoration: none      }
a:visited {color: #0066cc; text-decoration: none      }
a:hover   {color: #ff9600; text-decoration: underline }

tt { color: #000000; font-weight: bold   }
th { color: #929292; text-decoration: underline  }
h1 { font-size: large  }
h2 { font-size: medium }
h3 { font-size: medium }
h4 { font-size: medium }

pre {background:#fff8ed; border: 1pt solid #AEBDCC; padding: 5pt }